<%= render "shared/header" %>


<div class='main-contents' >
  <div class='right-message'>
    <div class='app-comment'>
     <h1 class='welcome-message'>ようこそ当アプリへ！！</h1>
     <p class='this-app'>このアプリはあなたの車の点検時期を</p>
     <p class='this-app-p'>お知らせするアプリです</p>
     <p class='new-user-message'>まずは新規登録から始めましょう</p>
    </div>
  </div>
</div>


<%= render "shared/footer" %>
