.footer-maim {
  background-color: #AFEEEE;
  height: 80px;
  width: 100vw;
  display: flex;
  padding: 10px 20px;
  justify-content: right;
}

.product-sign {
  margin: 0px 30px 0px 0px;  
}

.prodacter-name {
  text-decoration: none;
  color: #333333;
}